body{
    background-color:white;
}

.container{
    display: grid;
    place-content: center;
    margin: auto;
    background-color: white;
    box-sizing: content-box;
    height:600px;
    width: 400px;
    border-radius: 50px;
    border: #696fff solid;
}

.p1{
    font-size: 35px;
    text-align: center;
    color:#696fff;    
}

.p2{
margin: 0 0 10px 0;
}

#btn{
    background-color: #696fff;
    border-color: white;
    border-radius: 20px;
    height:40px;
    width: 120px;
}